/* Navbar.css */
nav {
    background-color: #f6f9fe;
    /* box-shadow: 5px 0px 15px #00000040; */
    padding-left: 2rem;
    padding-top: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;


}
.nav{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
 .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
#logo {
    display: flex;
    align-items: center;
    margin: 0; /* Remove any default margin on h1 */
}


.logo-text {
    font-size: 2rem; /* Adjust the font size as needed */
}
  
.dot {
    color:blue;
    font-size: 2rem; /* Adjust the font size as needed */
    margin-left: 5px; /* Add space between "INCvest" and the dot */
  }
 .dot1{
    color:blue;
 }
.welcome-message {
    position: absolute;
    top: 1rem;
    font-size: 1.5rem;
    right: 1rem;

}
/* CSS for the dropdown */
.dropdown {
    position: absolute;
    top: 100%; /* Position the dropdown below the parent element */
    
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px; /* Set the width to auto to adapt to content */
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    display: inline-block;
    padding: 10px;
    color:red;
    margin-left: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
